<div class="pokemon-list">
    <div class="container">
      <!-- Encabezado -->
      <div class="header">
        <h1 class="pokedex-title">Pokédex</h1>
        <div class="search-bar">
          <input type="text" placeholder="Buscar por nombre o número" [(ngModel)]="searchQuery"  (input)="onSearch()">
          <button mat-icon-button class="filter-button">
            Filtrar por Tipo
          </button>
        </div>
      </div>
  
      <div class="grid">
        @for (pokemon of displayedPokemons; track pokemon.name) {
            <a [routerLink]="['/pokemon', pokemon.name]" class="card-link">
                <mat-card class="pokemon-card">
                    <mat-card-content>
                        <img 
                            [src]="pokemon.image"
                            [alt]="pokemon.name"
                            class="pokemon-image"
                        />
                        <h2 class="pokemon-name">{{ pokemon.name | capitalize }}</h2>
                        <p class="pokemon-id">#{{ pokemon.id | number: '3.0-0' }}</p>
                    </mat-card-content>
                </mat-card>
            </a>
        }
      </div>
  
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="offset === 0">Anterior</button>
        <button (click)="nextPage()">Siguiente</button>
      </div>
    </div>
  </div>
  