<div class="pokemon-list">
    <div class="container">

      <div class="header">
        <h1 class="pokedex-title">Pokédex</h1>
        <div class="search-bar">
          <input type="text" placeholder="Buscar por nombre o número" [(ngModel)]="searchQuery" notespecialcharacters (input)="onSearch()">
          <div class="button-group"> 
            @if(user?.admin){
              <button mat-icon-button class="filter-button" (click)="GoUsers()">
                Listado de Usuarios
              </button>
            }
            <button mat-icon-button class="filter-button" (click)="returnToLogin()">
              Cerrar sesión
            </button>
          </div>
        </div>
      </div>
  
      <div class="grid">
        @for (pokemon of displayedPokemons; track pokemon.name) {
           <app-card [pokemon]="pokemon"></app-card>
        }
      </div>
  
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="offset === 0">Anterior</button>
        <button (click)="nextPage()" [disabled]="displayedPokemons.length === 0">Siguiente</button>
      </div>
    </div>
  </div>
  