.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .popup {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
  }

  .user-form {
    max-width: 500px;

    background: white;
    border-radius: 10px;
  
    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  
      mat-form-field {
        width: 100%;
      }
  
      .file-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
  
        .file-label {
          background-color: #f0f0f0;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          color: #333;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #e0e0e0;
          }
        }
  
        input[type="file"] {
          display: none;
        }
      }
  
      button {
        align-self: center;
        padding: 0.75rem 1.5rem;
        width: 100%;
        max-width: 200px;
        border-radius: 4px;
        background-color: #1976d2;
        color: white;
        transition: background-color 0.3s ease;
  
        &:hover:not([disabled]) {
          background-color: #1565c0;
        }
  
        &[disabled] {
          background-color: #cccccc;
          color: #666666;
        }
      }
    }
  
    mat-error {
      font-size: 0.75rem;
      color: red;
    }

    footer{
      display: flex;
      gap: 1rem;
    }
  }
  
  @media (max-width: 600px) {
    .user-form {
      margin: 1rem;
      padding: 1rem;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
  
      form {
        gap: 1rem;
  
        button {
          width: 100%;
          margin-top: 0.5rem;
        }
      }
    }
  }