<div class="login-container">
    <mat-card class="formcontainer">

        <div class="login-header">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu">
            <h1>Pokedex</h1>
            <p>Ingrese sus credenciales para acceder a su Pokédex</p>
        </div>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="username" placeholder="Ingrese su nombre de entrenador">
                    <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                        Por favor, ingrese un nombre de entrenador válido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña">
                    <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        Por favor, ingrese una contraseña de entrenador válida.
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button color="primary" type="submit" class="login-button">
                    Ingresar
                </button>
            </form>
        </mat-card-content>
    </mat-card>

</div>
