$primary-color: #2a75bb;
$translucentbackground: #ffffff65;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-styles {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pokemon-list {
  min-height: 100vh;
  background-image: url('../../../assets/images/backgroundlogin.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .pokedex-title {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    background-color: $translucentbackground;
    border-radius: 8px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    background-color: $translucentbackground;
    border-radius: 8px;
    max-width: 500px;

    input {
      flex: 1;
      padding: 10px;
      font-size: 1rem;
      border-radius: 8px;
      border: 2px solid #ccc;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary-color;
      }
    }
      .button-group {
        display: flex;
        gap: 1rem;

        button{
          border: none;
        }
      }

    .filter-button {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: white;
      border: 1px solid $primary-color;
      padding: 10px;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }
    }
  }
}

@media (max-width: 585px) {
  .header{
    display: grid;
    justify-items: center;
    justify-content: center;
  }

}