<div class="pokemon-list">
    <div class="container">

      <div class="header">
        <h1 class="pokedex-title">Pokédex</h1>
        <div class="search-bar">
          <div class="button-group"> 
            <button mat-icon-button class="filter-button" (click)="returnToPokemonList()">
              Listado de Pokemones
            </button>
            <button mat-icon-button class="filter-button" (click)="returnToLogin()">
              Cerrar sesión
            </button>
          </div>
        </div>
      </div>
  
      <section>
        <app-user-list></app-user-list>
      </section>
    
    </div>
  </div>
  