<div class="user-list">
    <div class="header">
      <h1>Listado de Usuarios</h1>
      <button mat-button color="primary" (click)="openUserForm()">Agregar Usuario</button>
    </div>
  
    <div class="grid">
      @for (user of users; track $index) {
      <div class="user-card">
        <img [src]="user?.photo" alt="{{ user.name }}">
        <h2>{{ user.name }}</h2>
        <p>{{ user.town }}</p>
        <p>Registrado el: {{ user.registrationDate | date: 'dd/MM/yyyy' }}</p>
        <div class="actions">
          <button mat-button class="editbtn" (click)="edituser(user.id)">Editar</button>
          <button mat-button class="eliminatebtn" (click)="deleteUser(user.id)">Eliminar</button>
        </div>
       
      </div>
     }
    </div>
  </div>
  
  @if (showuserform) {
    <app-user-form [UserID]="EditingUserId" [Editing]="editing" (close)="closeModal($event)"></app-user-form>
  }  