.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
    text-align: center;
    min-height: 100vh;
    background-image: url('../../../assets/images/backgroundlogin.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    h1 {
      font-size: 2.5rem; 
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    p {
      color: #4b5563;
      margin-bottom: 2rem;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: black;
      border-radius: 5px;
      font-weight: bold;
      color: white;

      &:hover {
        background-color: #303030;
      }
    }

    .not-found-image-rattata{
      width: auto;
      height: 200px;
    }
  }
  